<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/libs/bootstrap.css">
    
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/footer.css">

    <link rel="stylesheet" href="/assets/css/signout.css">
</head>
<body style="background: linear-gradient(180deg, #FFFFFF -73.93%, rgba(255, 255, 255, 0) -73.93%), rgba(150, 148, 148, 0.06);">
   <!--NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <a class="navbar-brand text-white" href="#">Clinica Veterinaria</a>
        <button class="navbar-toggler" id="btn_menu" type="button" >
          <img width="20" id="icon_menu" height="20" src="/assets/images/menu.png"/>
        </button>
      
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="/sidebar">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact">Mi Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/user-list">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/product-list">Producto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/shooping">Compras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/user-list">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/signout">Cerrar sesion</a>
              </li>
          </ul>
          <div>
            <img class="img-fluid" src="" alt="">
          </div>
        </div>
    </nav>   
    <div id="sidebar_menu" class="nav-responsive-hidden">
     <div class="d-flex flex-column  ">
         <div class="d-flex w-100 justify-content-start align-items-center px-3 hr-white">
             <img class="img-fdluid" width="50" height="50" src="/assets/images/profile.png"/>
             <span class="ml-3">Miguel Gonzales</span>
         </div>
         <div class="d-flex justify-content-start px-3 hr-white">
          <a class="nav-link p-0 text-white text-left" href="/sidebar">Inicio</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/contact">Mi Perfil</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/user-list">Contacto</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/product-list">Producto</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/shooping">Compras</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/user-list">Usuarios</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/signout">Cerrar sesion</a>
         </div>
     
     </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-10 mt-5">
                <span class="text-black p-1 title-signout">Cerrar sesion</span>
            </div>

        </div>
<br><br>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-10 p-7 d-flex justify-content-center  flex-column  box-signout">
               <div> <span class="text-black p-1 box-title-signout ">desea cerrar sesion?</span></div>
               <div class="box-description-signout"> <span >
                Al cerrar sesion no podra generar ningun tipo de compra, para seguir dentro de la pagina haga click en cancelar.
               </span>
              </div>
            <br>
            </div>
        </div>
        <br><br><br>
        <div class="row ">
           
            <div class="col-12 col-md-12 col-lg-10 d-flex justify-content-center ">
                <div><button type="button" class="btn btn-success mr-5">Cerrar Sesion</button></div>
                <div><button type="button" class="btn btn-success">Cancelar</button></div>
                
            </div>

        </div>

    </div>


    <!-- Footer -->
    <footer class="footer bg-success p-3">
        <span>Copyright &copy;</span>
    </footer>
    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/libs/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/nav.js"></script>
</html>
