<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/libs/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/user.css">
</head>
<body style="">
   <!--NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <a class="navbar-brand text-white" href="#">Clinica Veterinaria</a>
        <button class="navbar-toggler" id="btn_menu" type="button" >
          <img width="20" id="icon_menu" height="20" src="/assets/images/menu.png"/>
        </button>
      
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="/sidebar">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/profile-show">Mi Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/user-list">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/product-list">Producto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/shooping">Compras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/user-list">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/signout">Cerrar sesion</a>
              </li>
          </ul>
          <div>
            <img class="img-fluid" src="" alt="">
          </div>
        </div>
    </nav>   
    <div id="sidebar_menu" class="nav-responsive-hidden">
     <div class="d-flex flex-column  ">
         <div class="d-flex w-100 justify-content-start align-items-center px-3 hr-white">
             <img class="img-fdluid" width="50" height="50" src="/assets/images/profile.png"/>
             <span class="ml-3">Miguel Gonzales</span>
         </div>
         <div class="d-flex justify-content-start px-3 hr-white">
          <a class="nav-link p-0 text-white text-left" href="/sidebar">Inicio</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/profile-show">Mi Perfil</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/user-list">Contacto</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/product-list">Producto</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/shooping">Compras</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/user-list">Usuarios</a>
        </div>
        <div class="d-flex justify-content-start px-3 hr-white">
           <a class="nav-link p-0 text-white text-left" href="/signout">Cerrar sesion</a>
         </div>
     
     </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-10 mt-4">
                <span class="p-1 title-blue">Eliminar Usuario</span>
            </div>

        </div>
     <br>
     <div class="row d-flex justify-content-start text-left ml-1">
        <div class="col-11 col-md-6 box-gray ">
            <p class="title-delete">Desea eliminar el usuario ?</p>
            <div class="d-flex justify-content-start align-items-center align-content-center">
                <div class="point-green"></div>
                <div class=""><span> Miguel Angel Gonzales Quiroz</span></div>
            </div>
            
        </div>
      
    </div>
    <br>
        <form>
        <button type="button" class="btn btn-success col-5 col-lg-2">
          <a href="/user-list">Eliminar</a>
          </button>
        </form>
    </div>


    <!-- Footer -->
    <br><br><br>
    <footer class="footer bg-success p-3">
        <span>Copyright &copy;</span>
    </footer>
    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/libs/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/nav.js"></script>
</html>
