<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Cliente</title>
</head>
<body>
    <div class="container" style="margin-top: 100px;">
        <h2 class="font-weight-bold p-2"><i class="fa fa-home"></i> Dashboard</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-success">Mi perfil</div>
                    <div class="card-body">
                        <p class="card-text">Mi información personal.</p>
                        <a href="/usuario/perfil" class="btn btn-primary btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-warning"><i class="fa fa-home"></i> Inicio</div>
                    <div class="card-body">
                        <p class="card-text">Mi información personal.</p>
                        <a href="/" class="btn btn-primary btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-primary">Nosotros</div>
                    <div class="card-body">
                        <p class="card-text">Mi información personal.</p>
                        <a href="/nosotros" class="btn btn-primary btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-danger"><i class="fa fa-building"></i> Sedes</div>
                    <div class="card-body">
                        <p class="card-text">Mi información personal.</p>
                        <a href="/sedes" class="btn btn-primary btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-info">Servicios</div>
                    <div class="card-body">
                        <p class="card-text">Mi información personal.</p>
                        <a href="/servicios" class="btn btn-primary btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-warning">Catalogos</div>
                    <div class="card-body">
                        <p class="card-text">Encuentro los mejores productos.</p>
                        <a href="/catalogo/index" class="btn btn-primary btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-rose">Mis ordenes</div>
                    <div class="card-body">
                        <p class="card-text">Mis pedidos realizados.</p>
                        <a href="/catalogo/ordenes" class="btn btn-primary btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-nav-tabs">
                    <div class="card-header">Mis mensajes</div>
                    <div class="card-body">
                        <p class="card-text">Mis pedidos realizados.</p>
                        <a href="/usuario/mensaje" class="btn btn-primary btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>