.title-blue{
    color:#3273DC;
    font-weight: 700;
    font-size:24px;
}
.box-gray {
    background: #FBFBFB;
    border: 1px solid rgba(209, 209, 209, 0.69);
    box-sizing: border-box;
    /* height:200px; */
    padding:18px;
 }
.box-gray input {
    color:  rgba(0, 0, 0, 0.61);
    border: 1px solid #EEEEEE;
    padding: 3px;

}

 .box-gray table tr td {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    padding:8px;
    /* identical to box height */
    
    text-align: justify;
    
    color: rgba(0, 0, 0, 0.51);
 }
 .box-gray span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
   margin-bottom: 8px;;
    color: #000000;
 }
.combobox {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.15rem + 1px);
    padding: 0.275rem 0.55rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.features-title{
    color: rgba(0, 0, 0, 0.51);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
}
.photo-product{
    width: 250px;
    height:220px;
}

.point-green {
width: 14px;
height: 14px;
background: #28A745;
border-radius:100%;
margin-left:5%;
margin-right:5%;
}
.title-delete {
    font-weight: 700;
    color:black;
    font-size:20px;
} 
.form-input input[type="text"],
.form-input input[type="password"] {
   width: 100%;
}