<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'login')}">
<body>
    <div class="section section-signup page-header" style="margin-top: 50px; background-image: url('https://www.hola.com/imagenes/viajes/2014052771541/fotogaleria-peru-iquitos-ica-imagenes/0-271-458/imagen1-a.jpg?filter=ds75'); ">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 mx-auto">
                    <div class="card card-login">
                        <form th:object="${login}" th:action="@{/ingresar}" method="post" class="form" style="min-height: 300px;">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Login</h4>
                            </div>
                            <p class="description text-center">Clinica Veterinaria</p>
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" th:field="*{id}" placeholder="Codigo de usuario">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="material-icons">lock_outline</i></span>
                                    </div>
                                    <input type="password" class="form-control" th:field="*{contrasena}" placeholder="Password" autocomplete="">
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button th:with="text='Ingresar'" type="submit" th:text="${text}" class="btn btn-primary btn-wd btn-lg m-3">Ingresar</button><br>
                                <a href="/recuperar" class="mt-1">¿Olvidaste la contraseña?</a>
                                <a href="/sidebar" class="mt-1">pasar modo administrador</a>
                            </div>
                        </form>
                        <p class="text-center text-danger font-weight-bold" th:text="${mensaje}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
