<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'contact')}">
<body>
    <div id="mapa" style="margin-top: 70px;">
        <div class="row-fluid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.688782206387!2d-77.0390694845663!3d-12.06492114552495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8ea665add81%3A0xc377738eed21bb7f!2sUtp%20Central!5e0!3m2!1ses!2spe!4v1621919410015!5m2!1ses!2spe" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto mt-4">
                <div class="card card-contacto">
                    <form th:object="${contact}" th:action="@{/contacto}" method="post" class="form" style="min-height: 520px;">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Contacto</h4>
                        </div>
                        <p class="description text-center">Clinica Veterinaria</p>
                        <div class="card-body mr-0 ml-0">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nombre">Nombres completos: <b class="text-danger">(*)</b></label>
                                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escribe aquí">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="celular">Celular: <b class="text-danger">(*)</b></label>
                                    <input type="text" class="form-control" th:field="*{celular}" id="celular" placeholder="Escribe aquí">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="correo">Correo Electrónico: <b class="text-danger">(*)</b></label>
                                    <input type="text" class="form-control" th:field="*{correo}" id="correo" autocomplete="off" placeholder="Escribe aquí">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="mensaje">Mensaje: <b class="text-danger">(*)</b></label>
                                    <textarea id="mensaje" th:field="*{mensaje}" class="form-control" rows="5" placeholder="Escribe tu mensaje"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button th:with="text='Enviar mensaje'" type="submit" th:text="${text}" class="btn btn-primary btn-wd btn-lg m-3">Enviar mensaje</button>
                        </div>
                    </form>
                    <p th:text="${mensaje}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>