<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<body>
    <div class="container" style="margin-top: 50px;">
        <div class="row text-center">
            <div class="col-md-8 mx-auto mt-4">
                <h2 class="font-weight-bold">¿Qué ofrecemos?</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <div class="info info-horizontal p-0">
                    <div class="icon icon-rose"><i class="material-icons">group_work</i></div>
                    <div class="description">
                        <h4 class="info-title">Cirugía General</h4>
                        <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal p-0">
                    <div class="icon icon-rose"><i class="material-icons">group_work</i></div>
                    <div class="description">
                        <h4 class="info-title">Odontología</h4>
                        <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal p-0">
                    <div class="icon icon-rose"><i class="material-icons">group_work</i></div>
                    <div class="description">
                        <h4 class="info-title">Oftalmología</h4>
                        <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal p-0">
                    <div class="icon icon-rose"><i class="material-icons">group_work</i></div>
                    <div class="description">
                        <h4 class="info-title">Oftalmología</h4>
                        <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal p-0">
                    <div class="icon icon-rose"><i class="material-icons">group_work</i></div>
                    <div class="description">
                        <h4 class="info-title">Cirugía</h4>
                        <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal p-0">
                    <div class="icon icon-rose"><i class="material-icons">group_work</i></div>
                    <div class="description">
                        <h4 class="info-title">Oftalmología</h4>
                        <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal p-0">
                    <div class="icon icon-rose"><i class="material-icons">group_work</i></div>
                    <div class="description">
                        <h4 class="info-title">Cirugía</h4>
                        <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal p-0">
                    <div class="icon icon-rose"><i class="material-icons">group_work</i></div>
                    <div class="description">
                        <h4 class="info-title">Oftalmología</h4>
                        <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal p-0">
                    <div class="icon icon-rose"><i class="material-icons">group_work</i></div>
                    <div class="description">
                        <h4 class="info-title">Cirugía</h4>
                        <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>